<h1>
	search for a movie:
</h1>

<!-- give results page the info from input text of home page -->
<form action="/results" method="GET">
	<input type="text" name="search" placeholder="search term">
	<input type="submit">
</form> 